<!DOCTYPE html>
<html lang="hr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <meta content="text/html; charset=UTF-8" http-equiv="content-type">
        <title>Brucošijada FER-a {{_currentYear}}.</title>
        <link href="/assets/styles/reset.css" rel="stylesheet">
    </head>

    <body>
        {{{embed}}}
    </body>
</html>
