<!DOCTYPE html>
<html lang="hr">
    <head>
        {{> 'partials/layouts/main/head/meta' }}
        <title>Brucošijada FER-a {{_currentYear}}.</title>
        <link href="/assets/styles/reset.css" rel="stylesheet">
    </head>

    <body>
        {{{embed}}}
    </body>
</html>
