<link rel="stylesheet" href="/assets/styles/page.image.css?v={{_buildTime}}" />
<style>
    :root {
        --background-image: url("/assets/images/frontpage/bg.jpg?v={{_buildTime}}");
        --background-image-aspect-ratio: calc(1440 / 2560);
    }

    @media screen and (max-width: 980px) {
        :root {
            --background-image: url("/assets/images/frontpage/bg-mobile.jpg?v={{_buildTime}}");
            --background-image-aspect-ratio: calc(1920 / 1080);
        }
    }

    .countdown-timer {
        position: absolute;
        top: 30%;
        right: 7vw;
        font-size: 8.5vw;
        color: var(--bruc-white);
        text-shadow: .05em 0 var(--bruc-black);
        pointer-events: none;
        user-select: none;
    }

    @media screen and (max-width: 980px) {
        .countdown-timer {
            top: 45%;
            right: 10vw;
            font-size: 10vw;
            text-shadow: .062em 0 var(--bruc-black);
        }
    }
</style>
<div class="image-container">
    <div class="image-sizer"></div>
    <div class="image-frame"></div>
</div>
<div class="countdown-timer"></div>
<script>
    var $timer = document.querySelector('.countdown-timer');
    var until = new Date('2022-12-11T20:00:00+0200');
    var interval;
    function zeroPad(num) {
        if (num >= 10) {
            return String(num)
        }

        return '0' + num;
    }
    function remainingTime() {
        return Math.floor((until - new Date()) / 1000);
    }
    function removeTime() {
        $timer.parentNode.removeChild($timer);
    }
    function updateTime() {
        var timeRemaining = remainingTime();
        if (timeRemaining <= 0) {
            return removeTime();
        }
        var hours = Math.floor(timeRemaining / 3600);
        var days = Math.floor(hours / 24);
        hours %= 24;
        timeRemaining %= 3600;
        var minutes = Math.floor(timeRemaining / 60);
        timeRemaining %= 60;
        var seconds = Math.floor(timeRemaining);
        $timer.textContent =
            zeroPad(days)
            + ":" + zeroPad(hours)
            + ":" + zeroPad(minutes)
            + ":" + zeroPad(seconds)
            ;
    }
    ((function () {
        if (remainingTime() <= 0) {
            return removeTime();
        }

        updateTime();
        interval = setInterval(updateTime, 397);
    })());
</script>