<link rel="stylesheet" href="/assets/styles/page.image.css"/>
<style>
    :root {
        --background-image: url("/assets/images/kontakt/bg.svg");
        --background-image-aspect-ratio: calc(715 / 1366);
    }

    @media screen and (max-width: 980px) {
        :root {
            --background-image: url("/assets/images/kontakt/bg-mobile.svg");
            --background-image-aspect-ratio: calc(618 / 360);
        }
    }
</style>
<div class="image-container">
    <div class="image-sizer"></div>
    <div class="image-frame"></div>
    <div class="image-content">
        <section>
            <h2>PR & MARKETING:</h2>
            <p>Lucija Kordić</p>
            <p><a href="tel:+385919313244">091 931 3244</a></p>
            <p><a href="mailto:lucija.kordic@kset.org" target="_blank">lucija.kordic@kset.org</a></p>
        </section>

        <section>
            <h2>PRESS:</h2>
            <p>Marina Borac</p>
            <p><a href="tel:+38598779868">098 779 868</a></p>
            <p><a href="mailto:marina.borac@kset.org" target="_blank">marina.borac@kset.org</a></p>

            <hr/>

            <p>Lucija Kordić</p>
            <p><a href="tel:+385919313244">091 931 3244</a></p>
            <p><a href="mailto:lucija.kordic@kset.org" target="_blank">lucija.kordic@kset.org</a></p>
        </section>
    </div>
</div>
