<section>
    <h2>OPĆA PRAVILA BRUCOŠIJADE FER-A</h2>

    <p>
        Kupovinom ulaznice posjetitelj bezuvjetno prihvaća pravila ponašanja mjesta događaja i organizatora.
    </p>

    <p>
        Za sve eventualne ozljede, oštećenja sluha i druge povrede organizator ne snosi odgovornost.
    </p>

    <p>
        Organizator ne odgovara za izgubljene ili ukradene stvari.
    </p>

    <p>
        Zabranjeno je točenje alkohola maloljetnicima i osobama u vidno alkoholiziranom stanju.
    </p>

    <p>
        Zbog osobne sigurnosti publike organizator zadržava pravo zabrane ulaska osobama za koje smatra da mogu
        prouzročiti probleme ili ugroziti sigurnost ostalih posjetitelja.
    </p>

    <p>
        Kupnjom ulaznice pristajete da kao dio publike budete zvučno i/ili slikovno snimljeni te da snimke mogu biti
        korištene u svakom trenutku u svrhu promocije Brucošijade FER-a.
    </p>

    <p>
        Osobe mlađe od 18 godina uz kupljenu ulaznicu i pratnju punoljetne osobe mogu prisustvovati događaju.
    </p>

    <p>
        Kupljena ulaznica omogućava jedan ulazak u prostor održavanja događaja.
    </p>

    <p>
        Ponovni ulazak nakon izlaska iz prostora radi sigurnosnih razloga nije moguć.
    </p>

    <p>
        Jednom kupljena ulaznica ne može se zamijeniti niti vratiti, osim u slučaju otkazivanja cijelog festivala od
        strane organizatora.
    </p>

    <p>
        Važeće su ulaznice kupljene samo na ovlaštenim prodajnim mjestima.
    </p>

    <p>
        Organizator zadržava pravo izmjene programa događaja.
    </p>

    <p>
        Organizator sugerira da u duhu nenasilja, tolerancije i jednakosti pripazite jedni na druge.
    </p>
</section>

<section>
    <h2>ZABRANJENO JE:</h2>

    <p>
        Unošenje hrane i pića u prostor događaja
    </p>

    <p>
        Unošenje narkotika
    </p>

    <p>
        Unošenje lako zapaljivih goriva, pirotehničkih i eksplozivnih sredstava
    </p>

    <p>
        Dovođenje kućnih ljubimaca
    </p>

    <p>
        Unošenje oružja, velikih kišobrana, boca i drugih oštrih predmeta koji mogu ugroziti sigurnost posjetitelja
    </p>

    <p>
        Unošenje kamera i profesionalnih fotoaparata te tehničke opreme i instrumenata bez dozvole organizatora.
    </p>
</section>

<section>
    <h2>DOZVOLJENO JE:</h2>

    <p>
        Unošenje malih rasklopnih kišobrana
    </p>

    <p>
        Unošenje manjih ručnih torbi ili ruksaka uz obavezan pregled sadržaja torbi prilikom ulaska
    </p>

    <p>
        Unošenje mobilnih telefona
    </p>

    <p>
        Unošenje cigareta i upaljača.
    </p>
</section>
