<section>
    <h2>ULAZNICE</h2>
    <p>
        Early bird ulaznice po cijeni od 50 kuna u prodaji su od 16. rujna do 5. listopada ili do isteka zaliha.
        Ulaznice po redovnoj cijeni od 70 kuna u prodaji su od 7. listopada. Ulaznice se mogu kupiti u KSET-u, glazbenoj
        knjižari Rockmark te u Dirty Old Empireu, a od 21.10. i u SC-u.
    </p>
    <p>
        30. rujna u prodaju kreću ulaznice za brucoše FER-a po cijeni od 40 kuna, a moguće ih je kupiti isključivo u
        KSET-u uz predočenje e-indeksa. Više informacija možete pronaći i na službenoj Facebook stranici.
    </p>
</section>

<section>
    <h2>PRAVILA PONAŠANJA</h2>
    <p>
        Kupljena ulaznica omogućava jedan ulazak u prostor održavanja događaja. Ponovni ulazak nakon izlaska iz prostora
        radi sigurnosnih razloga nije moguć.
    </p>
    <p>
        Za sve eventualne ozljede, oštećenja sluha i druge povrede organizator ne snosi odgovornost.
    </p>
    <p>
        Organizator ne odgovara za izgubljene ili ukradene stvari.
    </p>
    <p>
        Zbog osobne sigurnosti publike, organizator zadržava pravo zabrane ulaska osobama za koje smatra da mogu
        prouzročiti probleme ili ugroziti sigurnost ostalih posjetitelja.
    </p>

    <p>
        Kupnjom ulaznice pristajete da kao dio publike budete zvučno i/ili slikovno snimljeni te da snimke mogu biti
        korištene u svakom trenutku u svrhu promocije Brucošijade FER-a.
    </p>
    <p>
        Ova ulaznica obvezuje posjetitelje na poštivanje kućnog reda u prostoru održavanja događaja.
    </p>

    <p>
        Ugodan provod žele vam KSET i SS FER!
    </p>
</section>
