/*------------------ GLOBAL STUFF ------------------*/

:root {
    --bruc-white: #ffffff;
    --bruc-black: #000000;

    --bg-color-top: #dc5e88;
    --bg-color-bottom: #f6bb96;

    --topbar-height: 70px;
    --topbar-border-height: 6px;
    --nav-padding-percent: 2.5;
    --nav-fade-height: 8px;
    --content-padding: 2.5;
    --footer-height: 70px;

    --background-image: url("/assets/images/bg.svg");
    --background-image-aspect-ratio: calc(1080 / 1920);
}

@media screen and (max-width: 980px) {
    :root {
        --nav-padding-percent: 5;
        --content-padding: 3.75;
        --background-image: url("/assets/images/bg-mobile.svg");
        --background-image-aspect-ratio: calc(962 / 601);
    }
}

html {
    font-family: 'Antonio', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background: linear-gradient(to bottom, var(--bg-color-top), var(--bg-color-bottom));
}

a {
    text-decoration: none;
    color: var(--bruc-black);
}

/*------------------ TOPBAR ------------------*/

.white {
    color: var(--bruc-white) !important;
    fill: var(--bruc-white) !important;
}

.black {
    color: var(--bruc-black) !important;
    fill: var(--bruc-black) !important;
}

.topbar::after {
    position: absolute;
    right: 0;
    bottom: calc(var(--nav-fade-height) * -1);
    left: 0;
    height: var(--nav-fade-height);
    content: "";
    background: linear-gradient(var(--bg-color-top), transparent);
}

.topbar {
    position: relative;
    z-index: 9;
    display: grid;
    align-content: stretch;
    height: var(--topbar-height);
    padding: 0 calc(var(--nav-padding-percent) * 1vw);
    color: var(--bruc-black);
    background-color: var(--bg-color-top);
    box-shadow: 0 0 25px 4px var(--bg-color-top);
    grid-template-columns: 1fr 1fr;
}

.topbar .title {
    font-size: 1.125rem;
    align-self: center;
}

.topbar .links {
    display: flex;
    justify-self: right;
}

@media screen and (max-width: 980px) {
    .topbar .links {
        display: none;
    }
}

.topbar .burger-menu {
    display: none;
    align-self: center;
    padding: .6rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
    justify-self: end;
}

@media screen and (max-width: 980px) {
    .topbar .burger-menu {
        display: inline-block;
    }
}

.topbar .links a {
    font-size: 0.875rem;
    font-weight: normal;
    font-style: normal;
    display: flex;
    align-items: center;
    color: var(--bruc-black);
}

.topbar .links a + a {
    margin-left: 1.5rem;
}

.topbar .links a.active {
    border-color: inherit;
    border-top: var(--topbar-border-height) solid transparent;
    border-bottom: var(--topbar-border-height) solid;
}

/*------------------ MOBILE LINKS ------------------*/

#links-opener {
    display: none;
}

#links-opener:checked + .links-mobile {
    display: block;
}

@media screen and (min-width: 981px) {
    /* Hide links when screen size exceeds mobile dimensions */
    #links-opener:checked + .links-mobile {
        display: none;
    }
}

.links-mobile {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: var(--bg-color-top);
}

.links-mobile .links-container {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.links-mobile .links-container a {
    font-size: 1.4rem;
    padding: 0 calc(var(--nav-padding-percent) * 1vw);
}

.links-mobile .links-container a > span {
    display: block;
    padding-bottom: .3em;
}

.links-mobile .links-container a.active span {
    border-color: inherit;
    border-top: var(--topbar-border-height) solid transparent;
    border-bottom: var(--topbar-border-height) solid;
}

.links-mobile .links-container a + a {
    margin-top: 1.4rem;
}

/*------------------ MAIN PAGE ------------------*/
.page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - var(--topbar-height));
}

main {
    position: relative;
    flex: 1;
    padding-bottom: 82px;
    background: linear-gradient(to bottom, var(--bg-color-top), var(--bg-color-bottom));
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
}

.contents {
    padding: 0 calc(var(--content-padding) * 1vw);
    padding-top: calc(var(--content-padding) * 0.85 * 1vw);
    transition: padding .3s ease, font-size .3s ease;
    will-change: padding, font-size;
}

@media screen and (max-width: 980px) {
    .contents {
        font-size: 1.125rem;
    }
}

.contents h1,
.contents h3,
.contents h4,
.contents h5,
.contents h6,
.contents h2 {
    font-size: 1.5em;
}

.contents section {
    color: var(--bruc-black);
}

.contents section + section {
    margin-top: 6rem;
    transition: margin-top .3s ease;
    will-change: margin-top;
}

@media screen and (max-width: 980px) {
    .contents section + section {
        margin-top: 4rem;
    }
}

.contents section > * {
    margin-bottom: 1em;
}

.contents section a {
    color: var(--bruc-black);
}

.contents p + h2,
.contents p + h3,
.contents p + h4,
.contents p + h5,
.contents p + h6,
.contents p + h1 {
    margin-top: 6rem;
    transition: margin-top .3s ease;
    will-change: margin-top;
}

@media screen and (max-width: 980px) {
    .contents p + h1 {
        margin-top: 4rem;
    }
}

.contents section strong {
    font-weight: bold;
}

.contents section em {
    font-style: italic;
}

.contents section del {
    text-decoration: line-through;
}

.contents section blockquote {
    padding-left: .5em;
    border-left: 4px solid rgba(0, 0, 0, .69);
}


.contents section hr {
    width: 5rem;
    margin: 1.5rem 0;
    border-color: var(--bruc-black);
}

/*------------------ FOOTER ------------------*/

footer::after {
    position: absolute;
    top: calc(var(--nav-fade-height) * -1);
    right: 0;
    left: 0;
    height: var(--nav-fade-height);
    content: "";
    background: linear-gradient(to top, var(--bg-color-bottom), transparent);
}

footer {
    position: relative;
    display: flex;
    align-items: center;
    height: var(--footer-height);
    padding: 0 calc(var(--nav-padding-percent) * 1vw);
    letter-spacing: -0.022em;
    color: var(--bruc-black);
    background-color: var(--bg-color-bottom);
}
